mixin intro(city, commons)
    - var destinations = city.destinations || commons.destinations
    style
        if city.logoDecor
            | header.site-header .container-logo {
            |   background: url(#{ city.logoDecor }) center bottom no-repeat;
            |   background-size: 100% auto;
            | }
        for destination, idx in destinations
            | .visual:nth-child(#{ idx+1 }) {
            |   background-image: url(#{ destination.visual.desktop });
            | }
            | @media screen and (max-width:768px) {
            |   .visual:nth-child(#{ idx+1 }) {
            |       background-image: url(#{ destination.visual.mobile });
            |   }
            | }

    section.hero.underbrow.intro
        .visuals-wrap
            for destination, idx in destinations
                .visual(class={ shown: idx === 0 })
        article
            .contenu
                h3!= city.h3
                h2.h1!= city.h2
                .actions.eternal-package-search
                    for destination, idx in destinations
                        button(
                            class={ hovered: idx === 0 },
                            data-lookup-destination=destination.button.data_lookup_destination,
                            data-lookup-depth-days=destination.button.data_lookup_depth_days
                            data-lookup-regions=destination.button.data_lookup_regions)= destination.button.label

mixin hot(city, commons)
    script
        != `var preferred_destination_order = ${ city.preferredDestinationOrder && JSON.stringify(city.preferredDestinationOrder) || JSON.stringify(commons.preferredDestinationOrder) };`
        != `var bestDealsBox_HomePageSet_TabName = ${ (city.bestDealsBox_HomePageSet_TabName && JSON.stringify(city.bestDealsBox_HomePageSet_TabName) || (commons.bestDealsBox_HomePageSet_TabName && JSON.stringify(commons.bestDealsBox_HomePageSet_TabName)) || null) };`
    section.hero.hot
        article
            .contenu
                .burning-hot-offers
                    //h3: span: span Горящие предложения
                    .burning-offers
                        .tabs-container
                            .scroll-left &laquo;
                            .scroll-right &raquo;
                            ul.tabs-selector
                                // ...
                        .destinations-container
                            // ...
                    //h3: span: span Горячие Акции
                    .hot-promos
                        - var hot_promos = city.hotPromos || commons.hotPromos
                        .hot-slider(class={ 'single-slide': hot_promos.length === 1 })
                            for promo in hot_promos
                                .hot-slide(data-active-since=promo.since, data-active-until=promo.until)
                                    img(src=promo.visual)
                                    a(href=promo.href, target='_blank') &zwj;

mixin available-destinations(city, commons)
    section.hero.available-destinations
        article
            .contenu
                h2 Куда можно поехать отдохнуть прямо сейчас
                p Посмотрите все доступные направления для вылета из вашего города
                .available-flight-widget(data-preferred-destination=(city.preferredDestination || commons.preferredDestination))
                    .head
                        .head-item: span.labeled.takeoff Выберите город вылета
                        .head-item: span.labeled.destination Выберите страну
                        .head-item.dbl
                            span.labeled.landing Аэропорт прилета
                            span.labeled.closest-date Ближайший вылет
                    .body
                        .data-column.depart-from: .scrollable &zwj;
                        .data-column.destination-to: .scrollable &zwj;
                        .data-column.dbl.destination-airport-closest-date: .scrollable &zwj;
                    .foot
                        .pad
                            .selection-info-comp
                                span.label Вы выбрали:
                                .selection-info &zwj;
                            button(data-action='select-tour' disabled='') Выбрать тур

                .closest-origin-widget
                    h4.disclose Если в вашем городе нет подходящих направлений, рекомендуем рассмотреть ближайшие города
                    .interactive-map
                        .loading-msg Загрузка карты...
                        .ymap
                            // ...
                        .block-interaction
                            .loader
                                // ...

mixin why-us()
    section.hero.why-us
        article
            .contenu
                h2 Наши преимущества
                a.arrlink(href='https://www.sunmar.ru/our-advantages/', target='_blank') Посмотреть все
                .list-marque
                    ul.our-benefits
                        li
                            .icon(style='background-image: url(/site/sunmar.ru/assets/icon-flexy-flight-chart.png)')
                            .label
                                :typo
                                    Гибкая полетная программа с вылетами из вашего города
                        li
                            .icon(style='background-image: url(/site/sunmar.ru/assets/icon-cozy-booking.png)')
                            .label
                                :typo
                                    Удобное бронирование туров online, по телефону или в офисе продаж
                        li
                            .icon(style='background-image: url(/site/sunmar.ru/assets/icon-affordable.png)')
                            .label
                                :typo
                                    Широкий выбор туров по привлекательным ценам и в рассрочку
                        li
                            .icon(style='background-image: url(/site/sunmar.ru/assets/icon-personal-offers.png)')
                            .label
                                :typo
                                    Персональные цены для постоянных туристов и выгодные предложения

mixin recommended-tours(city, commons)
    section.hero
        article
            .contenu
                h2 Рекомендованные туры
                h4 прямым рейсом #{ city.dictionary.wording_fromCityName }

mixin pay-attention(city, commons)
    section.hero.pay-attention
        article
            .contenu
                h2 Обратите внимание
                .banners-grid
                    - var banners = city.payAttention || commons.payAttention
                    for banner in banners
                        .banner-cell
                            if banner.tolltip && banner.tolltip === true
                                .visual(style={ 'background-image': `url(${ banner.visual })` }) 
                                    #tooltip
                                        .tooltip-btn
                                            .tooltip-btn__text
                                                |
                                                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 11 11' fill='none')
                                                    path(d='M5.70261 1.14795C3.33542 1.14795 1.41602 3.06735 1.41602 5.43455C1.41602 7.80174 3.33542 9.72114 5.70261 9.72114C8.06981 9.72114 9.98921 7.80174 9.98921 5.43455C9.98921 3.06735 8.06981 1.14795 5.70261 1.14795ZM5.70261 8.99395C3.73728 8.99395 2.14321 7.39987 2.14321 5.43455C2.14321 3.46922 3.73728 1.87514 5.70261 1.87514C7.66794 1.87514 9.26202 3.46922 9.26202 5.43455C9.26202 7.39987 7.66794 8.99395 5.70261 8.99395Z')
                                                    path(d='M5.24333 3.75053C5.24333 3.87233 5.29172 3.98915 5.37785 4.07528C5.46398 4.16142 5.5808 4.2098 5.70261 4.2098C5.82442 4.2098 5.94124 4.16142 6.02737 4.07528C6.1135 3.98915 6.16189 3.87233 6.16189 3.75053C6.16189 3.62872 6.1135 3.5119 6.02737 3.42577C5.94124 3.33964 5.82442 3.29125 5.70261 3.29125C5.5808 3.29125 5.46398 3.33964 5.37785 3.42577C5.29172 3.5119 5.24333 3.62872 5.24333 3.75053ZM5.93225 4.82217H5.47297C5.43087 4.82217 5.39643 4.85662 5.39643 4.89872V7.5013C5.39643 7.5434 5.43087 7.57784 5.47297 7.57784H5.93225C5.97435 7.57784 6.0088 7.5434 6.0088 7.5013V4.89872C6.0088 4.85662 5.97435 4.82217 5.93225 4.82217Z')
                                                span Реклама
                                            .tooltip-body
                                                .tooltip-body__wrapper
                                                    span#advertiser= banner.advertiser
                                                        span#erid
                                                            span.erid-desctop= banner.erid
                                                    button.copy(data-copy)
                                                        svg.copy__icon(viewbox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                            g(clip-path='url(#a)')
                                                                path(d='M8.541 1.538H3.413a.077.077 0 0 0-.077.077v.535c0 .043.035.077.077.077h4.745V8.81c0 .042.035.077.077.077h.536a.077.077 0 0 0 .076-.077V1.844a.306.306 0 0 0-.306-.306ZM7.316 2.763H2.418a.306.306 0 0 0-.307.306v5.078c0 .081.033.159.09.216l1.658 1.658a.317.317 0 0 0 .071.053v.018h.04a.3.3 0 0 0 .106.02h3.24c.17 0 .307-.138.307-.307V3.07a.306.306 0 0 0-.307-.306ZM3.93 9.118l-.824-.825h.824v.825Zm3.005.304H4.542V8.064a.383.383 0 0 0-.383-.383H2.8V3.45h4.134v5.971Z')
                                                            defs
                                                                clippath#a
                                                                    path(fill='#fff' d='M.581.926h9.798v9.798H.581z')
                                .info
                                    .line!= banner.line
                                    .subline!= banner.subline
                                    a.arrlink(href=banner.href, target='_blank')= banner.linkText
                            else 
                                .visual(style={ 'background-image': `url(${ banner.visual })` })
                                .info
                                    .line!= banner.line
                                    .subline!= banner.subline
                                    a.arrlink(href=banner.href, target='_blank')= banner.linkText
    script(type='module', src='/site/sunmar.ru/js/pay-attention.coffee')
   

mixin xlinks-drawer(xlinks)
    - if (Array.isArray(xlinks.links))
        .xlinks
            - var tmpid = 'toggler-' + Math.round(Math.random() * 100000)
                input(type='checkbox', id=tmpid)
                label.heading(for=tmpid)!= xlinks.heading
                ul.drawer
                    for l in xlinks.links
                        li: a(href=l.href, target='_blank')!= l.label
    - else
        a.arrlink(href=xlinks.links, target='_blank')= xlinks.heading

mixin xlinks(city, commons)
    - var xlinks = city.xlinks || commons.xlinks
    if xlinks
        section.hero.xlinks
            article
                .contenu
                    .xlinks-grid
                        for xlinks_data in xlinks
                            +xlinks-drawer(xlinks_data)

mixin reviews-and-thanks()
    section.hero.reviews-and-thanks
        article
            .contenu
                h2 Отзывы и благодарности
                a.arrlink(href='https://www.sunmar.ru/otzyv/', target='_blank')
                    h4 Все отзывы

                .reviews-wrap
                    .all-reviews &nbsp;

    script(type='module', src='/site/sunmar.ru/js/reviews-and-thanks.coffee')
